body {
    background-color: lightblue;
}
h1 {
    color: orange;
    text-align: center;
}
h2 {
    color: red;
    text-align: right;
}
h3 {
    color: violet;
    text-align: left;
}
p.important {
    color: green;
}
p.notImportant {
    color: grey;
}
p.fruity {
    color: yellow;
}
p.date{
    color: orangered;
}
li {
    color: blue;
}